<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>カート商品一覧</title>
</head>
<body>
	<main>
		<table border="1">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>価格</th>
			<th></th>
		</tr>
		<tr th:each="textbooks:${textbook}">
			<td th:text="${textbooks.id}"></td>
			<td>
				書名：<span th:text="${textbooks.title}"></span><br>
				著者：<span th:text="${textbooks.author}"></span><br>
				在庫：<span th:text="${textbooks.stock}"></span><br>
				教授：<span th:text="${textbooks.professorId}"></span><br>
				授業：<span th:text="${textbooks.classId}"></span>
			</td>
				<td th:text="${textbooks.price}"></td>
			<td>
				<form action="/cart/delete" method="post">
					<input type="hidden" name="textbookId" th:value="${textbook.id}">
					<button>削除</button>	
				</form>
			</td>	
		</tr>
			<td align="right" colspan="4" th:text="'総計：'+${@cart.totalPrice}"></td>
		</table>
		
	</main>


</body>
</html>