<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>カート商品一覧</title>
</head>
<body>
	<main>
		<table border="1">
		<tr>
			<th>NO</th>
			<th>商品名</th>
			<th>価格</th>
			<th></th>
		</tr>
		<tr th:each="textbooks:${textbook}">
			<td th:text="${textbooks.id}"></td>
			<td>
				<ul>
				書名：<th:text="${textbooks.title}"><br>
				著者：<th:text="${textbooks.author}"><br>
				在庫：<th:text="${textbooks.stock}"><br>
				教授：<th:text="${textbooks.professorId}"><br>
				授業：<th:text="${textbooks.classId}">
				</ul>
			</td>
				<td th:text="${textbooks.price}"></td>
			<td>
				<form action="/cart/delete" method="post">
					<input type="hidden" name="textbookId" th:value="${textbook.id}">
					<button>削除</button>	
				</form>
			</td>	
		</tr>
		
		</table>
		
	</main>


</body>
</html>