<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>以下の内容で登録しました</h3>

	<table border="1">
			
			<tr>
				<th>名前</th>
					<td th:text="${name}"></td>
			</tr>
			
			<tr>
				<th>メールアドレス</th>
					<td th:text="${email}"></td>
					</td>
			</tr>
			
			<tr>
				<th>電話番号</th>
					<td th:text="${tel}"></td>
					</td>
			</tr>
			
			<tr>
				<th>住所</th>
					<td th:text="${address}"></td>
					</td>
			</tr>
			
			<tr>
				<th>パスワード</th>
					<td th:text="${password}"></td>
					</td>
			</tr>
			
		</form>
		
		</table>	
	
	<a href="/">ログイン画面へ</a>

</body>
</html>