<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴表示</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>注文履歴</h1>
	<table border="1">
		<tr>
			<th>購入日</th>
			<th>名前</th>
			<th>電話番号</th>
			<th>メールアドレス</th>
			<th>教科書名</th>
			<th>合計金額</th>
			<th>決済方法</th>
			<th>受取方法</th>
		</tr>
		
		<tr th:each="information:${informationList}">
			<!--<td th:text="${information.date}"></td>-->
			<td th:text="${information.name}"></td>
			<td th:text="${information.tel}"></td>
			<td th:text="${information.email}"></td>
			<td th:text="${information.title}"></td>
			<td th:text="${information.total_price}"></td>
			<td th:text="${information.payment}"></td>
			<td th:text="${information.receive}"></td>
		</tr>
	</table>
	
</body>
</html>