<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴表示</title>
</head>
<body>
	<h1>注文履歴</h1>
	<table border="1">
		<tr>
			<th>購入ID</th>
			<th>購入日</th>
			<th>教科書</th>
			<th>小計</th>
			<th>合計金額</th>
			<th>決済方法</th>
			<th>受取方法</th>
		</tr>
		
		<tr th:each="textbook:${textbooks}">
			<td th:text="${textbook.info_id}"></td>
			<td th:text="${textbook.date}"></td>
			<td th:text="${textbook.title}"></td>
			<td th:text="${textbook.price}"></td>
			<td th:text="${textbook.total_price}"></td>
			<td th:text="${textbook.payment}"></td>
			<td th:text="${textbook.receive}"></td>
		</tr>
	</table>
	
</body>
</html>