<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文情報詳細</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>注文履歴詳細</h1>

<div class="line">
	<table class="table">
		<tr>
			<th>教科書ID</th>
			<th>教科書タイトル</th>
			<th>価格</th>
		</tr>
		<tr th:each="textbook:${textbookList}" >
			<td th:text="${textbook.id}"></td>
			<td th:text="${textbook.title}"></td>
			<td th:text="${textbook.price}"></td>
		</tr>
	</table>
	
	<table class="cell">
		<tr>
		<th>数量</th>
		</tr>
		<tr th:each="order:${orderDetailList}">
		<td th:text="${order.quantity}"></td>
		</tr>
	</table>
</div>
<a href="/information">戻る</a>
</body>
</html>