<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="header"></header>
<main>
<h1>注文履歴</h1>

<table>
		<tr>
			<th>注文番号</th>
			
			<th>教科書タイトル</th>
			<th>数量</th>
			
			<th>合計価格</th>
			<th>支払い方法</th>
			<th>受け取り方法</th>
		</tr>
		<!--<tr th:each="info:${informationOrder}">
			<td th:text="${info.title}"></td>
			<td th:text="${info.totalprice}"></td>
			<td th:text="${info.payment}"></td>
			<td th:text="${info.receive}"></td>
		</tr>-->
	</table>
	<a href="/manager">メニューに戻る</a>
</main>
	<hr>
	<footer th:replace="footer"></footer>
<!--残骸<ul> 
		<h1>メニュー</h1>
		<li><a href="memberInfo.html">会員情報</a></li>
		<li><a href="informationHistory.html">注文履歴</a></li>
	</ul>-->
</body>
</html>