<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header th:replace="header"></header>
<main>
<h1>注文履歴</h1>

<table>
		<tr>
			<th>注文番号</th>
			<th>注文日時</th>
			<th>合計価格</th>
			<th>支払い方法</th>
			<th>受け取り方法</th>
			<th>詳細表示</th>
		</tr>
		<tr th:each="info:${informationList}">
			<td th:text="${info.id}"></td>
			<td th:text="${info.date}"></td>
			<td th:text="${info.totalprice}"></td>
			<td th:if="${info.payment}==1">現金</td>
			<td th:if="${info.payment}==2">クレジットカード</td>
			<td th:if="${info.receive}==1">店頭受け取り</td>
			<td th:if="${info.receive}==2">配送</td>
			<td>	
				<form th:action="@{/information/{informationId}/detail(informationId=${info.id})}" method="get">
					<button>詳細</button>
					<input type="hidden" name="informationId" th:value="${info.id}">
				</form>
			</td>
		</tr>
	</table>
	<a href="/shopMenu">ホームに戻る</a>
</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>