<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴表示</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>注文履歴管理</h1><!--管理者側-->
	<table>
		<tr>
			<th>注文番号</th>
			<th>注文日</th>
			<th>購入者ID</th>
			<th>合計金額</th>
			<th>決済方法</th>
			<th>受け取り方法</th>
			<th>注文詳細</th>
		</tr>
		<tr th:each="information:${informationList}">
			<td th:text="${information.id}"></td>
			<td th:text="${information.date}"></td>
			<td th:text="${information.memberId}"></td>
			<td th:text="${information.totalprice}"></td>
			<td th:if="${information.payment}==1">現金</td>
			<td th:if="${information.payment}==2">クレジットカード</td>
			<td th:if="${information.receive}==1">店頭受け取り</td>
			<td th:if="${information.receive}==2">配送</td>
			
			<td>
				<form th:action="@{/orderHistory/{informationId}/detail(informationId=${information.id})}" method="get">
					<button>詳細</button>
					<input type="hidden" name="informationId" th:value="${information.id}">
				</form>
			</td>
		</tr>
	</table>
	<a href="/manager">メニューに戻る</a>
</body>
</html>