<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>授業更新</h1>
<form th:action="@{/lesson/{lessonId}/edit(lessonId=${lesson.id})}" method="post">
	<table border="1">
	<tr>
		<th>授業ID</th>
		<td th:text="${lesson.id}"></td>
	</tr>
	<tr>
		<th>授業名</th>
		<td><input type="text" name="name" th:value="${lesson.name}"></td>
	</tr>
</table>
<button>更新</button>
</form>


</body>
</html>