<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header><h1>教科書販売</h1></header>
	<main>
		<h3>ログイン</h3>
		<form action="/login" method="post">
			メールアドレス
				<input type="text" name="email"><br>
		
			パスワード
			<input type="text" name="password"><br>
			<br><span th:text="${message}" style="color:red"></span><br>
			<button>ログイン</button><br>
			</form>
			<form action="/account" method="get">
			<a href="/account">会員登録はこちら</a>
			</form>
			<form action="/signin" method="get">
			<a href="/signin">管理者の方はこちら</a>
			</form>
	</main>
	<footer th:replace="footer"></footer>
</body>
</html>