<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員情報表示</title>
</head>

<body>
	<header th:replace="header"></header>
	<h1>会員情報</h1>
	
	<table border="1" th:each="account:${accountList}">
		
		<tr>
			<th>名前</th>
			<td th:text="${account.name}"></td>
			<form action="/memberUpdate" method="get">
			<td colspan="6"><button>更新する</button></td>
			</form>
			<form action="/memberDelete" method="get">
			<td colspan="6"><br><button>削除する</button></td>
			</form>
		</tr>

		<tr>
			<th>住所</th>
			<td th:text="${account.address}"></td>
		</tr>

		<tr>
			<th>電話番号</th>
			<td th:text="${account.tel}"></td>
		</tr>

		<tr>
			<th>メールアドレス</th>
			<td th:text="${account.email}"></td>
		</tr>

		<tr>
			<th>パスワード</th>
			<td th:text="${account.password}"></td>
		</tr>

		<tr>
			<th>クーポン所持数（枚）</th>
			<td th:text="${account.coupon}"></td>
		</tr>
		
	</table>


	<br>
	<br>
	※更新しない情報は空欄のままで差し支えありません。
	<a href="/shopMenu"><button>戻る</button></a>
</body>

</html>