<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員情報更新確認</title>
</head>

<body>
	<h1>会員情報更新確認</h1>
	<table border="1" th:each="account:${accountConfirm}">

		<tr>
			<td>項目</td>
			<td>現在の情報</td>
			<td>新しい情報</td>
		</tr>

		<form action="/memberUpdate/confirm" method="post">
			<tr>
				<th>名前</th>
				<td th:text="${account.OldName}"></td>
				<!--新しい-->
				<td th:text="${account.name}"></td>
			</tr>

			<tr>
				<th>住所</th>
				<!--現在-->
				<td th:text="${account.OldAddress}"></td>
				<!--新しい-->
				<td th:text="${account.address}"></td>
			</tr>

			<tr>
				<th>電話番号</th>
				<!--現在-->
				<td th:text="${account.Oldtel}"></td>
				<!--新しい-->
				<td th:text="${account.tel}"></td>
			</tr>

			<tr>
				<th>メールアドレス</th>
				<!--現在-->
				<td th:text="${account.OldEmail}"></td>
				<!--新しい-->
				<td th:text="${account.email}"></td>
			</tr>

			<tr>
				<th>パスワード</th>
				<!--現在-->
				<td th:text="${account.OldPassword}"></td>
				<!--新しい-->
				<td th:text="${account.password}"></td>
			</tr>

	</table>
	<br>
	上記のとおり会員情報を更新します。よろしいですか？
	<br>
	<button>はい</button>
	<button>修正する</button>
	</form>
</body>

</html>