<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>会員情報更新</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<h1>会員情報更新</h1>
	<table border="1">

		<tr>
			<td>項目</td>
			<td>現在の情報</td>
			<td>新しい情報</td>
		</tr>

		<form action="/memberUpdate" method="get">
			<tr>
				<th>名前</th>
				<td th:text="${account.name}"></td>
				<td>
					<input type="text" name="member_name">
					<input type="hidden" name="old_member_name" th:value="${account.name}">
				</td>
			</tr>

			<tr>
				<th>住所</th>
				<td th:text="${account.address}"></td>
				<td>
					<input type="text" name="member_address">
					<input type="hidden" name="old_member_address" th:value="${account.address}">
				</td>
			</tr>

			<tr>
				<th>電話番号</th>
				<td th:text="${account.tel}"></td>
				<td>
					<input type="text" name="member_tel">
					<input type="hidden" name="old_member_tel" th:value="${account.tel}">
				</td>
			</tr>

			<tr>
				<th>メールアドレス</th>
				<td th:text="${account.email}"></td>
				<td>
					<input type="text" name="member_email">
					<input type="hidden" name="old_member_email" th:value="${account.email}">
				</td>
			</tr>

			<tr>
				<th>パスワード</th>
				<td th:text="${account.password}"></td>
				<td>
					<input type="text" name="member_password">
					<input type="hidden" name="old_member_password" th:value="${account.password}">
				</td>
			</tr>

	</table>
	<input type="hidden" name="coupon" th:value="${account.coupon}">
	<!--</form>-->
	<!--<form action="/memberUpdate/confirm" method="get">-->
		
	<button formaction="/memberUpdate/confirm" formmethod="get">更新確認画面へ</button>
	</form>
	<a href="/memberInfo"><button>戻る</button></a>
	
	<br>
	<br>
	※更新しない情報は空欄のままで差し支えありません。
</body>

</html>