<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文確認</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<main>
		
			
		<h3>ご注文商品</h3>
		<!--注文画面を持ってくる-->
		<span th:replace="cartItem"></span>
		
		
	
		<!--受け取り方法-->
		受け取り方法：
		<select name="receive">
			<option value="1">対面</option>
			<option value="2">配送</option>
		</select><br>
		
		<!--クーポン情報取得-->
		使用クーポン：
		
		<th:text="'使用クーポン：'+${coupon}"><br>
		
		<!--決済方法選択-->
		決済方法：
		<select name="pay">
			<option value="1">現金</option>
			<option value="2">クレジットカード</option>
		</select><br>
		
		<form action="/order/confirm" method="post">
			<button>注文を<br>確定する</button>
		</form>
		
		</main>
</body>
</html>