<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<th>日付</th>
		<th>名前</th>
		<th>電話番号</th>
		<th>メールアドレス</th>
		<th>カート内容</th>
		<th>合計金額</th>
		<th>決済方法</th>
		<th>受け取り方法</th>
	</tr>
	<tr>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
		<td th:text="${}"></td>
	</tr>

</table>
</body>
</html>