<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>注文完了</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
		<header th:replace="header"></header>
	<main>
		<h3>ご注文ありがとうございました。</h3>
		お客様の今回の注文番号は
		<font color="blue">
			<b>
				<span th:text="${information.id}"></span>
			</b>
		</font>
		です。
		<br>
		<h2 th:text="${result}" ></h2>
		<!--<p th:if="${totalprice}>4999"><img src ="ガチャガチャ.png" alt="ガチャガチャの画像">-->
		</p>
		<br>
		商品の到着まで今しばらくお待ちください。
		<br>
		<br>
		<a href="/shopMenu">メニュー画面に戻る</a>
	</main>
	<footer th:replace="footer"></footer>
</body>

</html>