<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>教授一覧</title>
</head>
<body>
	<main>
		<h1>教授情報</h1>
		<table border="1">
			<tr>
				<th>教授名</th>
				<th>専攻</th>
				<th>追加</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			
			<tr th:each="p:${professor}">
				<td th:text="${p.name}"></td>
				<td th:text="${p.major}"></td>
				<td>
					<form th:action="@{/professor/{professorId}/add(professorId=${p.id})}" method="get">
						<button>追加</button>
					</form>
				</td>
				<td>
					<form th:action="@{/professor/{professorId}/stock(professorId=${p.id})}" method="get">
					<button>更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/professor/{professorId}/delete(professorId=${p.id})}" method="post">
					<button>削除</button>
					</form>
				</td>
			</tr>
			
		</table>
	
</main>
</body>
</html>