<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入者初期表示</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<hr>	
	<main>
	
		
		<!--教科書の部分一致検索-->
		<form action="/shopMenu" method="get">
			<input type="text" name="title" placeholder="書名" th:value="${title}">
			<br>
			<input type="text" name="professor" placeholder="教授名" th:value="${professor}">
			<br>
			<input type="text" name="lecture" placeholder="授業名" th:value="${lecture}">
			<br>
			
			<!--該当するものはありません、とかのメッセージ表示-->
			<p th:text ="${error}" style="color:red"></p>
			
			<button>検索</button>
		</form>
		
			<table border="1">
				<tr>
					<th>NO</th>
					<th>商品名</th>
					<th>価格</th>
					<form action="cart" method="get">
					<th><button>カートを見る</button></th>
					</form>
				</tr>
				<tr th:each="textbooks:${textbookList}">
					<td th:text="${textbooks.id}"></td>
				<td>
					書名：<span th:text="${textbooks.title}"></span><br>
					著者：<span th:text="${textbooks.author}"></span><br>
					在庫：<span th:text="${textbooks.stock}"></span><br>
					教授：<span th:text="${textbooks.professor}"></span><br>
					授業：<span th:text="${textbooks.lecture}"></span><br>
				</td>
				<td th:text="${textbooks.price}"></td>

				<td>
					<form action="/cart/add" method="post">
						<input type="hidden" name="textbookId" th:value="${textbooks.id}">
						<button th:if="${textbooks.stock}>0">カートに追加</button>
						<button th:if="${textbooks.stock}<0" class="${disable}">カートに追加</button>
						<p th:if="${textbooks.stock}==0">在庫がありません</p>
					</form>
				</td>

			</tr>

		</table>

		<a href="/memberInfo">会員情報表示</a><br>
		<a href="/information">注文履歴表示</a>

	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>

</html>