<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入者初期表示</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<main>
		<!--書名による部分一致検索-->
		<form action="/shopMenu" method="get">
			<input type="text" name="keyword">
			<button>検索</button>
		</form>

			<table border="1">
				<tr>
					<th>NO</th>
					<th>商品名</th>
					<th>価格</th>
					<th></th>
				</tr>
				<tr th:each="textbooks:${textbook}">
					<td th:text="${textbooks.id}"></td>
					<td>

						書名：<span th:text="${textbooks.title}"></span><br>
						著者：<span th:text="${textbooks.author}"></span><br>
						在庫：<span th:text="${textbooks.stock}"></span><br>
						教授：<span th:text="${textbooks.professor}"></span><br>
						授業：<span th:text="${textbooks.lecture}"></span><br>

					</td>
					<td th:text="${textbooks.price}"></td>

					<td>
						<form action="/cart/add" method="post">
							<input type="hidden" name="textbookId" th:value="${textbooks.id}">

							<button>カートに追加</button>
						</form>
					</td>

				</tr>

			</table>
			設定<br>

			<a href="/memberInfo">会員情報表示</a><br>
			<a href="/information">注文履歴表示</a>

	</main>
</body>

</html>