<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<th>教科書ID</th><td th:value"${}"><textarea></textarea></td>
	</tr>
	<tr>
		<th>書名</th><td th:value"${}"><textarea></textarea></td>
	</tr>
	<tr>
		<th>著者名</th><td th:value"${}"><textarea></textarea></td>
	</tr>
	<tr>
		<th>価格</th><td th:value"${}"><textarea></textarea></td>
	</tr>
	<tr>
		<th>在庫</th><td th:value"${}"><textarea></textarea></td>
	</tr>
</table>
<button>更新</button>
</body>
</html>