<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>教科書追加</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>教科書新規追加</h1>
	<form action="/textbook/add/confirm" method="post">
<table border="1">
	<tr>
		<th>書名</th><td><input type ="text" name="title"></td>
	</tr>
	<tr>
		<th>著者名</th><td><input type ="text" name="author"></td>
	</tr>
	<tr>
		<th>価格</th><td><input type ="text" name="price"></td>
	</tr>
	<tr>
		<th>在庫</th><td><input type ="text" name="stock"></td>
	</tr>
	<tr>
		<th>教授ID</th><td><input type ="text" name="professorId"></td>
	</tr>
	<tr>
		<th>授業ID</th><td><input type ="text" name="classId"></td>
	</tr>
</table>
	<button>追加</button>
	</form>
</body>
</html>