<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>教科書一覧表示</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>教科書情報</h1>
<a href="/textbook/add">新規追加</a>

<table border="1">
	<tr>
		<th>教科書ID</th>
		<th>書名</th>
		<th>著者名</th>
		<th>価格</th>
		<th>在庫</th>
		<!--<th>追加</th>-->
		<th>更新</th>
		<th>削除</th>
	</tr>
	<tr th:each="t:${textbook}">
		<td th:text="${t.id}"></td>
		<td th:text="${t.title}"></td>
		<td th:text="${t.author}"></td>
		<td th:text="${t.price}"></td>
		<td th:text="${t.stock}"></td>
		<td>
			<form th:action="@{/textbook/{textId}/edit(textId=${t.id})}" method="get">
			<button>更新</button>
			</form>
		</td>
		<td>
			<form th:action="@{/textbook/{textId}/delete(textId=${t.id})}" method="post">
			<button>削除</button>
			</form>
		</td>
	</tr>
	
</table>
</body>
</html>

<!--
	<input type="hidden" name="textbookId" value="1">
	-->