<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>教科書追加</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>教科書新規追加</h1>
	<form action="/textbook/add" method="post">
	
		<table>
		<tr>
			<th>書名</th>
			<td>
				<!--texybookに入力データがあるときは以下の文章で、
				入力欄に何も無い時はth:value以降が無い文章を実行してほしい-->
				<input type ="text" name="title" th:value="${textbook.title}"></td>
		</tr>
		<tr>
			<th>著者名</th>
			<td>
				<input type ="text" name="author" th:value="${textbook.author}"></td>
		</tr>
		<tr>
			<th>価格</th>
			<td>
				<input type ="number" name="price" th:value="${textbook.price}"></td>
		</tr>
		<tr>
			<th>在庫</th>
			<td>
				<input type ="number" name="stock" th:value="${textbook.stock}"></td>
		</tr>
		<tr>
			<th>教授ID</th>
			<td>
				<input type ="number" name="professorId" th:value="${textbook.professorId}"></td>
		</tr>
		<tr>
			<th>授業ID</th>
			<td>
				<input type ="number" name="lessonId" th:value="${textbook.lessonId}"></td>
		</tr>
	</table>
	<p th:each="messages:${message}" th:text ="${messages}" style="color:red"></p>

	<button>追加</button>
	
	</form>
</body>
</html>